{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Inicio{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/chromiew.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Productos</h3>
                <h6 class="card-text">Explora nuestras categorías de componentes de computador y encuentra todo lo que necesitas para armaro mejorar tu PC. Desde procesadores y tarjetas gráficas hasta memorias RAM, discos duros, fuentes de poder y más.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="card text-bg-dark shadow">
                        <img src="{% static 'assets/images/procesador-cat.webp' %}" class="card-img" alt="img_cat">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center h-100">
                            <h3 class="card-title text-center"><a class="nav-link" href="{% url 'procesadores_dyn' %}">Procesadores</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark shadow">
                        <img src="{% static 'assets/images/placamadre-cat.jpg' %}" class="card-img" alt="img_cat">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center h-100">
                            <h3 class="card-title text-center"><a class="nav-link" href="{% url 'placasmadres_dyn' %}">Placas Madre</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark shadow">
                        <img src="{% static 'assets/images/grafica-cat.jpg' %}" class="card-img" alt="img_cat">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center h-100">
                            <h3 class="card-title text-center"><a class="nav-link" href="{% url 'tarjetasdevideo_dyn' %}">Tarjetas Graficas</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark shadow">
                        <img src="{% static 'assets/images/ram-cat.webp' %}" class="card-img" alt="img_cat">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center h-100">
                            <h3 class="card-title text-center"><a class="nav-link" href="{% url 'memorias_dyn' %}">Memorias RAM</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark shadow">
                        <img src="{% static 'assets/images/disk-cat.jpg' %}" class="card-img" alt="img_cat">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center h-100">
                            <h3 class="card-title text-center"><a class="nav-link" href="{% url 'almacenamiento_dyn' %}">Unidades de almacenamiento</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark shadow">
                        <img src="{% static 'assets/images/fuente-cat.webp' %}" class="card-img" alt="img_cat">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center h-100">
                            <h3 class="card-title text-center"><a class="nav-link" href="{% url 'fuentes_dyn' %}">Fuentes de Poder</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark shadow">
                        <img src="{% static 'assets/images/gabinete-cat.webp' %}" class="card-img" alt="img_cat">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center h-100">
                            <h3 class="card-title text-center"><a class="nav-link" href="{% url 'gabinetes_dyn' %}">Gabinetes</a></h3>
                        </div>
                    </div>
                </div>                          
            </div>
        </div>
{% endblock %}
