{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Inicia Sesion{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Hola {{ request.user.username }}!</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/chromiew.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Inicia sesion</h3>
                <h6 class="card-text">Ingresa tus credenciales para acceder a tu cuenta en Chromie Computers y disfrutar de todos nuestros servicios.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <h1 class="text-white">Ingresa tus datos</h1>
            <form id="form-iniciosesion" class="text-white w-100 mx-auto" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="username" name="username" autocomplete="off" placeholder="Ingresa tu nombre de usuario">
                    <div class="invalid-feedback" id="error-username"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña <span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Ingresa tu contraseña">
                    <div class="invalid-feedback" id="error-password"></div>
                </div>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="d-flex justify-content-between gap-5">                
                    <button type="submit" class="btn btn-primary w-50">Iniciar Sesion</button>
                    <a href="{% url 'olvidecontrasena_dyn' %}" class="btn btn-secondary w-50">Olvidé mi contraseña</a>
                </div>
            </form>
        </div>
        {% endblock %}
{% block scripts %}
<script src="{% static 'javascript/iniciosesion.js' %}"></script>
{% endblock %}