{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Unidades de Almacenamiento{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/disk-cat.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Unidades de Almacenamiento</h3>
                <h6 class="card-text">Descubre nuestra selección de discos duros y unidades SSD para mejorar la velocidad y capacidad de tu computador. Elige entre opciones rápidas, seguras y confiables para almacenar tus archivos, programas y proyectos sin límites.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/hdd-wd.jpg' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">WD Blue 1TB</h5>
                            <p class="card-text">Disco Duro 1TB para PC WD Blue 3.5" SATA 6 Gb/s 7200RPM 64MB</p>
                            <h4 class="card-text fw-bold">$69.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <a href="{% url 'almace_wd_dyn' %}" class="btn btn-secondary w-100">Especificaciones</a>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/ssd-kingston.jpg' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">Kingston NV3</h5>
                            <p class="card-text">Unidad SSD Kingston NV3, 1TB, M.2 2280, NVMePCIe 4.0 x4, Lectura 6000MB/s Escritura 4000MB/s</p>
                            <h4 class="card-text fw-bold">$64.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <button class="btn btn-secondary w-100">Especificaciones</button>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>                
                    
            </div>
        </div>
{% endblock %}