{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Fuentes de Poder{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Hola {{ request.user.username }}!</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/fuente-cat.webp' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Fuentes de Poder</h3>
                <h6 class="card-text">Elige entre nuestra variedad de fuentes de poder certificadas para asegurar la estabilidad y seguridad de tu computador. Encuentra modelos eficientes, silenciosos y con distintas potencias para todo tipo de equipos y necesidades.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/fuente-giga.png' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">Gigabyte GP-P750BS</h5>
                            <p class="card-text">Fuente de Poder 750W Gigabyte GP-P750BS, 80 PLUS Bronze, ATX, Color Negro</p>
                            <h4 class="card-text fw-bold">$69.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <a href="{% url 'fuente_giga_dyn' %}" class="btn btn-secondary w-100">Especificaciones</a>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/fuente-xyz.png' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">XYZ Phantom</h5>
                            <p class="card-text">Fuente de Poder XYZ Phantom 700W, Certificada 80 Plus Bronze, PFC Activo</p>
                            <h4 class="card-text fw-bold">$84.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <button class="btn btn-secondary w-100">Especificaciones</button>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>                
                    
            </div>
        </div>
{% endblock %}