{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Placas Madre{% endblock %}
{% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Hola {{ request.user.username }}!</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/placamadre-cat.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Placas Madre</h3>
                <h6 class="card-text">Descubre nuestra selección de placas madre para Intel y AMD. Encuentra el modelo ideal para tu computador, con soporte para las últimas tecnologías, conectividad avanzada y máxima estabilidad.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/placa-amd.png' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">GIGABYTE B650M</h5>
                            <p class="card-text">Placa Madre GIGABYTE B650M GAMING WIFI, Socket AM5, 2x DDR5, Wi-Fi, Micro-ATX</p>
                            <h4 class="card-text fw-bold">$149.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <a href="{% url 'placa_giga_dyn' %}" class="btn btn-secondary w-100">Especificaciones</a>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/placa-asus.jpg' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">ASUS PRIME Z790-P</h5>
                            <p class="card-text">Placa Madre ASUS PRIME Z790-P WiFi, Socket LGA1700, 4x DDR5, PCIe 4.0, ATX</p>
                            <h4 class="card-text fw-bold">$259.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <button class="btn btn-secondary w-100">Especificaciones</button>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>                
                    
            </div>
        </div>
{% endblock %}