{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Tarjetas de Video{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/grafica-cat.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Tarjetas de Video</h3>
                <h6 class="card-text">Explora nuestra variedad de tarjetas de video NVIDIA y AMD. Mejora el rendimiento gráfico de tu computador para gaming, diseño y edición profesional.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/video-nvidia.png' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">GIGABYTE NVIDIA GeForce RTX 5060</h5>
                            <p class="card-text">Tarjeta de Video GIGABYTE NVIDIA GeForce RTX 5060 EAGLE OC, 8GB GDDR7, 128-bit, PCI-e 5.0 x8</p>
                            <h4 class="card-text fw-bold">$374.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <a href="{% url 'video_giga_dyn' %}" class="btn btn-secondary w-100">Especificaciones</a>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-dark text-white shadow">
                        <img src="{% static 'assets/images/video-radeon.png' %}" class="card-img-top" alt="Producto">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Prime Radeon RX 9070</h5>
                            <p class="card-text">Tarjeta de Video ASUS Prime Radeon RX 9070 XT OC Edition, 16GB GDDR6, 256-bit, PCI-e 5.0</p>
                            <h4 class="card-text fw-bold">$859.990 CLP</h4>
                            <div class="gap-2 d-grid">
                                <button class="btn btn-secondary w-100">Especificaciones</button>
                                <button class="btn btn-primary w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>                
                    
            </div>
        </div>
{% endblock %}