{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Disco Duro WD Blue 1TB{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'almacenamiento_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'almacenamiento_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/disk-cat.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Unidades de Almacenamiento</h3>
                <h6 class="card-text">Descubre nuestra selección de discos duros y unidades SSD para mejorar la velocidad y capacidad de tu computador. Elige entre opciones rápidas, seguras y confiables para almacenar tus archivos, programas y proyectos sin límites.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/hdd-wd.jpg' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">WD Blue 1TB</h5>
                            <ul class="list-unstyled mb-2">
                                <li>Interfaz del disco duro:	Serial ATA III</li>
                                <li>Capacidad de disco duro:	1000 GB</li>
                                <li>Tamaño de disco duro:	3.5"</li>
                                <li>Velocidad de rotación de disco duro:	7200 RPM</li>
                                <li>Unidad, tamaño de búfer:	64 MB</li>
                                <li>Velocidad de transferencia de datos:	6 Gbit/s</li>
                                <li>Ciclo comenzar/detener:	300000</li>
                                <li>Tecnología inteligente:	Si</li>
                                <li>Certificación:	CE, RoHS</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$69.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
{% endblock %}