{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Fuente de Poder GIGABYTE GP-P750BS{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'fuentes_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Hola {{ request.user.username }}!</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'fuentes_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/fuente-cat.webp' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Fuentes de Poder</h3>
                <h6 class="card-text">Elige entre nuestra variedad de fuentes de poder certificadas para asegurar la estabilidad y seguridad de tu computador. Encuentra modelos eficientes, silenciosos y con distintas potencias para todo tipo de equipos y necesidades.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/fuente-giga.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Gigabyte GP-P750BS</h5>
                            <ul class="list-unstyled mb-2">
                                <li>Model: GP-P750BS</li>
                                <li>Type: Intel Form Factor ATX 12V</li>
                                <li>PFC: Active PFC (>0.9 typical)</li>
                                <li>Input Voltage: 200-240 Vac</li>
                                <li>Input Current: 6 A</li>
                                <li>Input Frequency: 60-50 Hz</li>
                                <li>Output Capacity: 750W</li>
                                <li>Dimensions: 150 x 140 x 86 mm</li>
                                <li>Fan Type: 120mm Fluid Dynamic Bearing (FDB) Fan</li>
                                <li>80 PLUS: Bronze (230V EU)</li>
                                <li>Efficiency: 88% at typical load</li>
                                <li>MTBF: >100,000 hours</li>
                                <li>Protections: OVP/OPP/SCP/UVP/OCP/OTP</li>
                                <li>Power Good Signal: 100-150ms</li>
                                <li>Hold Up Time: >16ms</li>
                                <li>Cable Type: Embossed, All black</li>
                                <li>Connectors:</li>
                                <li>ATX/MB 20+4 Pin x 1 : 600mm*1</li>
                                <li>CPU/EPS 4+4 Pin x 2 : 600mm+150mm*1</li>
                                <li>PCI-E 6+2 Pin x 4 : 500mm+150mm*2</li>
                                <li>SATA x 4 : 500mm+150mm+150mm+150mm*1</li>
                                <li>SATA x 3 + Peripheral x1 : 500mm+150mm+150mm+150mm*1</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$69.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
{% endblock %}