{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Gabinete Antec C3 ARGB Black{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'gabinetes_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'gabinetes_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/gabinete-cat.webp' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Gabinetes</h3>
                <h6 class="card-text">Encuentra gabinetes para PC de todos los tamaños y estilos, ideales para armar tu computador con seguridad y diseño. Elige modelos con excelente ventilación, espacio para componentes y opciones de iluminación para personalizar tu equipo.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/gabinete-antec.jpg' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Antec C3 ARGB Black</h5>
                            <ul class="list-unstyled mb-2">
                                <li>Factor de forma: Midi Tower</li>
                                <li>Tipo: PC</li>
                                <li>Color del producto: Negro</li>
                                <li>Formas de factor de tarjeta madre soportadas: ATX, ITX, micro ATX</li>
                                <li>Número de puertos 3.5": 1</li>
                                <li>Material: Vidrio, Plástico, Acero</li>
                                <li>Número de bahías 2.5''	3</li>
                                <li>Número de ranuras de expansión	7</li>
                                <li>Filtro anti-polvo	Si</li>
                                <li>Altura máxima de la CPU más fresco	16 cm</li>
                                <li>Máxima longitud de la tarjeta de gráficos	41,5 cm</li>
                                <li>Máxima longitud de PSU	19,5 cm</li>
                                <li>Fuente de alimentación incluida	No</li>
                                <li>Cantidad de puertos USB 2.0	1</li>
                                <li>Cantidad de puertos tipo C USB 3.2 Gen 2 (3.1 Gen 2)	1</li>
                                <li>Diámetro de ventiladores secundarios soportados	120 mm</li>
                                <li>Diámetro de ventiladores traseros soportados	120 mm</li>
                                <li>Diámetros de ventiladores superiores soportados	120,140 mm</li>
                                <li>Tamaños compatibles con el radiador lateral	120,140 mm</li>
                                <li>Tamaños compatibles con el radiador trasero	120 mm</li>
                                <li>Tamaños compatibles con el radiador superior	120,140,240,280,360 mm</li>
                                <li>Tamaños de disco duro soportados	2.5,3.5"</li>
                                <li>Ancho	210 mm</li>
                                <li>Profundidad	470 mm</li>
                                <li>Altura	485 mm</li>
                                <li>Peso	7,56 kg</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$94.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
{% endblock %}