{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromie Computers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark fixed-top shadow">
        <div class="container">
            <img src="{% static 'assets/images/chromie.jpg' %}" alt="Icono de Chromie Computers" width="40" height="40" class="img-icon-logo d-inline-block align-text-top rounded-circle">
            <a class="navbar-brand" href="{% url 'index_dyn' %}">Chromie Computers</a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-dark" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'placasmadre_dyn' %}">Volver</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}" style="color: rgb(204, 169, 53)">Iniciar sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="banner">
        <img src="{% static 'assets/images/placamadre-cat.jpg' %}" alt="Banner principal">
            <div class="banner-text text-center mt-4">
                <h3 class="card-title">Placas Madre</h3>
                <h6 class="card-text">Descubre nuestra selección de placas madre para Intel y AMD. Encuentra el modelo ideal para tu computador, con soporte para las últimas tecnologías, conectividad avanzada y máxima estabilidad.</h6>
            </div>
    </section>

    <main class="container mt-2 pt-5">
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/placa-amd.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">GIGABYTE B650M</h5>
                            <ul class="list-unstyled mb-2">
                                <li>CPU: Socket AMD AM5, compatible con procesadores AMD Ryzen™ 7000 / 8000 / 9000 Series</li>
                                <li>Chipset: AMD B650</li>
                                <li>Memoria: 4 zócalos DDR5 DIMM, hasta 256 GB, arquitectura de doble canal</li>
                                <li>Video: 2 DisplayPort, 1 puerto HDMI, soporta hasta 3 pantallas simultáneas</li>
                                <li>Audio: Realtek® Audio CODEC, audio de alta definición 2/4/5.1/7.1 canales</li>
                                <li>Red: Realtek® LAN 2.5GbE (2.5 Gbps/1 Gbps/100 Mbps)</li>
                                <li>Expansión: 1 ranura PCI Express x16, 1 ranura PCI Express x1</li>
                                <li>Almacenamiento: 2 conectores M.2, 4 conectores SATA 6Gb/s</li>
                                <li>USB traseros: 1 USB Type-C® (USB 3.2 Gen 2), 1 USB 3.2 Gen 2 Tipo-A (rojo), 4 USB 2.0/1.1</li>
                                <li>USB internos: 1 USB Type-C® (USB 3.2 Gen 2), 4 USB 3.2 Gen 1, 4 USB 2.0/1.1</li>
                                <li>Conectores internos: 1 conector ATX principal de 24 pines, 1 conector ATX 12V de 8 pines, 1 conector de ventilador CPU, 3 conectores de ventilador de sistema, 1 conector tira LED direccionable, 1 conector tira LED RGB, 2 conectores M.2, 4 conectores SATA, 1 conector panel frontal, 1 conector audio panel frontal, 1 conector USB Type-C®, 1 conector USB 3.2 Gen 1, 2 conectores USB 2.0/1.1, 1 conector TPM, 1 conector puerto serie, 1 botón reset, 1 jumper reset, 1 jumper Clear CMOS</li>
                                <li>Conectores traseros: 4 USB 2.0/1.1, 1 puerto PS/2 teclado/ratón, 2 DisplayPort, 1 HDMI, 1 USB 3.2 Gen 2 Tipo-A (rojo), 1 USB Type-C® (USB 3.2 Gen 2), 1 botón Q-Flash Plus, 1 puerto RJ-45, 2 USB 3.2 Gen 1, 3 conectores de audio</li>
                                <li>Formato: Micro ATX, 24.4cm x 24.4cm</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$149.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </main>

    <footer class="bg-dark text-center text-lg-start mt-4 shadow d-flex justify-content-center">
        <div class="text-center p-3">© 2025 Chromie Computers</div>
        <div class="text-center p-3">Contacto: contacto@chromiestore.com</div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</html>