{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Intel Core i5-12400{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'procesadores_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'procesadores_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/procesador-cat.webp' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Procesadores</h3>
                <h6 class="card-text">Encuentra los mejores procesadores para potenciar tu computador. Disponemos de modelos Intel y AMD que ofrecen alto rendimiento, eficiencia y velocidad para gaming, trabajo y tareas profesionales.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/inteli5.jpeg' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Intel Core i5-12400</h5>
                            <ul class="list-unstyled mb-2">
                                <li>Familia de procesador: Intel® Core™ i5</li>
                                <li>Número de núcleos de procesador: 6</li>
                                <li>Socket de procesador: LGA 1700</li>
                                <li>Refrigerador incluido: Sí</li>
                                <li>Modelo del procesador: i5-12400</li>
                                <li>Modo de procesador operativo: 64 bits</li>
                                <li>Generación: Intel® Core™ i5 de 12ma Generación</li>
                                <li>Número de hilos de ejecución: 12</li>
                                <li>Frecuencia de aceleración de núcleo de rendimiento: 4,4 GHz</li>
                                <li>Frecuencia base de núcleo de rendimiento: 2,5 GHz</li>
                                <li>Caché del procesador: 18 MB</li>
                                <li>Tipo de caché en procesador: Smart Cache</li>
                                <li>Potencia base del procesador: 65 W</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$299.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
{% endblock %}