{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromie Computers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark fixed-top shadow">
        <div class="container">
            <img src="{% static 'assets/images/chromie.jpg' %}" alt="Icono de Chromie Computers" width="40" height="40" class="img-icon-logo d-inline-block align-text-top rounded-circle">
            <a class="navbar-brand" href="{% url 'index_dyn' %}">Chromie Computers</a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-dark" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'procesadores_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'procesadores_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section class="banner">
        <img src="{% static 'assets/images/procesador-cat.webp' %}" alt="Banner principal">
            <div class="banner-text text-center mt-4">
                <h3 class="card-title">Procesadores</h3>
                <h6 class="card-text">Encuentra los mejores procesadores para potenciar tu computador. Disponemos de modelos Intel y AMD que ofrecen alto rendimiento, eficiencia y velocidad para gaming, trabajo y tareas profesionales.</h6>
            </div>
    </section>

    <main class="container mt-2 pt-5">
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/inteli5.jpeg' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Intel Core i5-12400</h5>
                            <ul class="list-unstyled mb-2">
                                <li>Familia de procesador: Intel® Core™ i5</li>
                                <li>Número de núcleos de procesador: 6</li>
                                <li>Socket de procesador: LGA 1700</li>
                                <li>Refrigerador incluido: Sí</li>
                                <li>Modelo del procesador: i5-12400</li>
                                <li>Modo de procesador operativo: 64 bits</li>
                                <li>Generación: Intel® Core™ i5 de 12ma Generación</li>
                                <li>Número de hilos de ejecución: 12</li>
                                <li>Frecuencia de aceleración de núcleo de rendimiento: 4,4 GHz</li>
                                <li>Frecuencia base de núcleo de rendimiento: 2,5 GHz</li>
                                <li>Caché del procesador: 18 MB</li>
                                <li>Tipo de caché en procesador: Smart Cache</li>
                                <li>Potencia base del procesador: 65 W</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$299.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </main>

    <footer class="bg-dark text-center text-lg-start mt-4 shadow d-flex justify-content-center">
        <div class="text-center p-3">© 2025 Chromie Computers</div>
        <div class="text-center p-3">Contacto: contacto@chromiestore.com</div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</html>