{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Memorias RAM{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'memorias_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Hola {{ request.user.username }}!</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'memorias_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/ram-cat.webp' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Memorias RAM</h3>
                <h6 class="card-text">Explora nuestra variedad de memorias RAM para mejorar el rendimiento de tu computador. Encuentra la opción ideal para tus necesidades, ya sea para gaming, diseño o tareas cotidianas.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/ram-fury.jpg' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Kingston Fury Beast 8GB</h5>
                            <ul class="list-unstyled mb-2">
                                <li>Memoria interna:	8 GB</li>
                                <li>Diseño de memoria (módulos x tamaño):	1 x 8 GB</li>
                                <li>Tipo de memoria interna:	DDR5</li>
                                <li>Velocidad de memoria del reloj:	2800 MHz</li>
                                <li>Componente para:	PC</li>
                                <li>Forma de factor de memoria:	288-pin DIMM</li>
                                <li>ECC:	No</li>
                                <li>Tipo de memoria con búfer:	Unregistered (unbuffered)</li>
                                <li>On-Die ECC:	Si</li>
                                <li>Latencia CAS:	36</li>
                                <li>Rango de memoria de transferencia de datos:	5600 MT/s</li>
                                <li>Clasificación de memoria:	1</li>
                                <li>Voltaje de memoria:	1.25 V</li>
                                <li>Configuración de módulos:	1024M x 64</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$31.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
{% endblock %}