{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}GIGABYTE NVIDIA GeForce RTX 5060{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'tarjetasdevideo_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Hola {{ request.user.username }}!</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'tarjetasdevideo_dyn' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'carrito_dyn' %}">Carrito</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admincuenta_dyn' %}">Administrar Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/grafica-cat.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Tarjetas de Video</h3>
                <h6 class="card-text">Explora nuestra variedad de tarjetas de video NVIDIA y AMD. Mejora el rendimiento gráfico de tu computador para gaming, diseño y edición profesional.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <div class="card bg-dark text-white mb-3 ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/images/video-nvidia.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">GIGABYTE NVIDIA GeForce RTX 5060</h5>
                            <ul class="list-unstyled mb-2">
                                <li>Graphics Processing: GeForce RTX™ 5060</li>
                                <li>Core Clock: 2595 MHz (Reference card : 2497MHz)</li>
                                <li>CUDA® Cores: 3840</li>
                                <li>Memory Clock: 28 Gbps</li>
                                <li>Memory Size: 8 GB</li>
                                <li>Memory Type: GDDR7</li>
                                <li>Memory Bus: 128 bit</li>
                                <li>Card Bus: PCI-E 5.0</li>
                                <li>Digital max resolution: 7680x4320</li>
                                <li>Multi-view: 4</li>
                                <li>Card size: L=281 W=119 H=40</li>
                                <li>PCB Form: ATX</li>
                                <li>DirectX: DirectX 12 API</li>
                                <li>OpenGL: 4.6</li>
                                <li>Recommended PSU: 550W</li>
                                <li>Power Connectors: 8 Pin*1</li>
                                <li>Output: DisplayPort 2.1b *3 HDMI 2.1b *1</li>
                            </ul>
                            <div class="gap-2 d-flex justify-content-between">
                                <h2 class="card-text fw-bold w-50">$374.990 CLP</h2>
                                <button class="btn btn-primary w-50">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
{% endblock %}