{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Editar producto{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'lista_productos' %}">Volver</a></li>
                        <li class="nav-item"><a class="nav-link fw-bold" href="">Editar Producto</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/chromiew.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Editar un Producto</h3>
                <h6 class="card-text">Completa el siguiente formulario para editar el producto seleccionado.</h6>
            {% endblock %}
{% block contenido %}
        <div class="box shadow p-4">
            <h1 class="text-white">Edita los datos del producto {{ producto.nombre }}</h1>
            <form id="form-editarproducto" class="text-white w-100 mx-auto" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre del producto <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="nombre" name="nombre" autocomplete="off" placeholder="Ingresa el nombre del producto" value="{{ producto.nombre }}" required>
                    <div class="invalid-feedback" id="error-nombre"></div>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción <span style="color: red;">*</span></label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Ingresa una descripción del producto" required>{{ producto.descripcion }}</textarea>
                    <div class="invalid-feedback" id="error-descripcion"></div>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio <span style="color: red;">*</span></label>
                    <input type="number" class="form-control" id="precio" name="precio" step="0.01" placeholder="Ingresa el precio del producto" value="{{ producto.precio }}" required>
                    <div class="invalid-feedback" id="error-precio"></div>
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock <span style="color: red;">*</span></label>
                    <input type="number" class="form-control" id="stock" name="stock" placeholder="Ingresa la cantidad en stock" value="{{ producto.stock }}" required>
                    <div class="invalid-feedback" id="error-stock"></div>
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría <span style="color: red;">*</span></label>
                    <select class="form-select" id="categoria" name="categoria">
                        <option value="">Selecciona una categoría</option>
                        {% for categoria in categorias %}
                            {% if categoria.id == producto.categoria.id %}
                                <option value="{{ categoria.id }}" selected>{{ categoria.nombre }}</option>
                            {% else %}
                                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback" id="error-categoria"></div>
                </div>
                <div class="mb-3">
                    <label for="marca" class="form-label">Marca <span style="color: red;">*</span></label>
                    <select class="form-select" id="marca" name="marca">
                        <option value="">Selecciona una marca</option>
                        {% for marca in marcas %}
                            {% if marca.id == producto.marca.id %}
                                <option value="{{ marca.id }}" selected>{{ marca.nombre }}</option>
                            {% else %}
                                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                            {% endif %}
                            
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback" id="error-marca"></div>
                </div>
                <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen <span style="color: red;">*</span></label>
                    <input type="file" class="form-control" id="imagen" name="imagen">
                    <div class="invalid-feedback" id="error-imagen"></div>
                    <img src="{{ producto.imagen.url }}" width='50px'/>
                </div>
                <div class="d-flex justify-content-between gap-5">
                    <button type="submit" class="btn btn-primary w-50">Editar Producto</button>
                    <a href="{% url 'lista_productos' %}" class="btn btn-secondary w-50">Cancelar</a>
                </div>
            </form>
        </div>
{% endblock %}