{% extends 'base.html' %}
{% load static %}
{% block titulopagina %}Productos{% endblock %}
                {% block menunavegacion %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro_dyn' %}">Registro</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iniciosesion_dyn' %}">Iniciar sesion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Hola {{ request.user.username }}!</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'index_dyn' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'lista_dual' %}">Marcas y Categorias</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'crear_producto' %}">Ingresar Producto</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cerrarsesion_dyn' %}">Salir</a></li>
                    {% endif %}
                {% endblock %}
{% block imagenbanner %}"{% static 'assets/images/chromiew.jpg' %}"{% endblock %}
            {% block descbanner %}
                <h3 class="card-title">Listado de Productos</h3>
                <h6 class="card-text"> </h6>
            {% endblock %} 
{% block contenido %}
        <div class="box shadow p-4">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert.dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                {% for producto in productos %}
                    <div class="col-md-4">
                        <div class="card mb-4 text-bg-dark shadow">
                            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ producto.nombre }}</h5>
                                <p class="card-text">Stock: {{ producto.stock }}</p>
                                <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                                <div class="gap-2 d-grid">
                                    <a href="{% url 'editar_producto' id=producto.id %}" class="btn btn-secondary w-100">Editar</a>
                                    <a href="{% url 'eliminar_producto' id=producto.id %}" class="btn btn-danger w-100">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}